@import "tailwindcss";
@import "tw-animate-css";

@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";


@custom-variant dark (&:is(.dark *));

:root {
    --background: #FFFFFF;
    --background-2: #F2F2F2;
    --foreground: #1E1E1E;
    --card: #f8f8f8;
    --card-foreground: #1E1E1E;
    --popover: #f5f5f5;
    --popover-foreground: #1E1E1E;
    --primary: #61bc84;
    --primary-foreground: #1E1E1E;
    --secondary: #c6ffe6;
    --secondary-foreground: #1E1E1E;
    --muted: #e0e0e0;
    --muted-foreground: #888787;
    --accent: #2E8B57;
    --accent-foreground: #FFFFFF;
    --destructive: #ff4d4f;
    --destructive-foreground: #1E1E1E;
    --border: #e0e0e0;
    --input: #e0e0e0;
    --ring: #61bc84;
    --chart-1: #2E8B57;
    --chart-2: #61bc84;
    --chart-3: #c6ffe6;
    --chart-4: #8FBC8F;
    --chart-5: #345e37;
    --sidebar: #f5f5f5;
    --sidebar-foreground: #1E1E1E;
    --sidebar-primary: #61bc84;
    --sidebar-primary-foreground: #1E1E1E;
    --sidebar-accent: #2E8B57;
    --sidebar-accent-foreground: #FFFFFF;
    --sidebar-border: #8FBC8F;
    --sidebar-ring: #61bc84;
    --radius: 0.75rem;
}

.dark {
    --background: #1E1E1E;
    --background-2: #2A2A2A;
    --foreground: #FFFFFF;
    --card: #252525;
    --card-foreground: #e0e0e0;
    --popover: #2d2d2d;
    --popover-foreground: #e0e0e0;
    --primary: #2E8B57;
    --primary-foreground: #FFFFFF;
    --secondary: #61bc84;
    --secondary-foreground: #1E1E1E;
    --muted: #454545;
    --muted-foreground: #888787;
    --accent: #8FBC8F;
    --accent-foreground: #1E1E1E;
    --destructive: #ff4d4f;
    --destructive-foreground: #FFFFFF;
    --border: #555555;
    --input: #3a3a3a;
    --ring: #61bc84;
    --chart-1: #2E8B57;
    --chart-2: #61bc84;
    --chart-3: #c6ffe6;
    --chart-4: #8FBC8F;
    --chart-5: #345e37;
    --sidebar: #2d2d2d;
    --sidebar-foreground: #e0e0e0;
    --sidebar-primary: #2E8B57;
    --sidebar-primary-foreground: #FFFFFF;
    --sidebar-accent: #8FBC8F;
    --sidebar-accent-foreground: #1E1E1E;
    --sidebar-border: #345e37;
    --sidebar-ring: #61bc84;

}


@theme inline {
    --color-background: var(--background);
    --color-background-2: var(--background-2);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}
